<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/validar}" th:object="${contribuyente}" method="POST">
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" th:field="*{s_nombre}">
        <br>
        <span th:errors="*{s_nombre}" style="color: red;"></span>
        <br>
        <label for="apellido">Apellido: </label>
        <input type="text" name="apellido" id="nombre" th:field="*{s_apellido}">
        <br>
        <span th:errors="*{s_apellido}" style="color: red;"></span>
        <br>
        <label for="nit">NIT: </label>
        <input type="text" name="nit" id="nit" th:field="*{s_nit}">
        <br>
        <span th:errors="*{s_nit}" style="color: red;"></span>
        <br>
        <label for="importancia">Importancia: </label>
        <select name="importancia" id="importancia" th:field="*{importancia}">
            <option th:each="importancia: ${importancias}" th:value="${{importancia}}" th:text="${importancia.s_importancia}"></option>
        </select>
        <br>

        <input type="submit" value="Guardar">
    </form>
    <form th:action="@{/listado}" method="POST">
        <input type="submit" value="Ver contribuyentes">
    </form>
</body>
</html>