<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th style="color: orange;">Nombre</th>
            <th style="color: orange;">Apellido</th>
            <th style="color: orange;">NIT</th>
            <th style="color: orange;">Importancia</th>
            <th style="color: orange;">Fecha de ingreso</th>
        </thead>

        <th:block th:each="contribuyente, row: ${contribuyentes}">

            <tr>
                <th th:text="${contribuyente.s_nombre}"></th>
                <th th:text="${contribuyente.s_apellido}"></th>
                <th th:text="${contribuyente.s_nit}"></th>
                <th th:text="${contribuyente.importancia.s_importancia}"></th>
                <th th:text="${contribuyente.f_fecha_ingreso}"></th>
            </tr>

        </th:block>
    </table>

    <form th:action="@{/index}" method="POST">
        <input type="submit" value="Regresar">
    </form>
</body>
</html>